.Notification {
  background-color: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 1em;
}

.Notification.error {
  border-color: red;
  color: red;
}

.Notification.success {
  border-color: green;
  color: green;
}